<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Friend</title>
    <style type="text/css">
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body background="..\images/tab1bg.jpg">
<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a class="navbar-brand" href="#" style="margin-left: 5rem">
        <img src="..\images/H%20!%20friend.png" alt="Logo" style="width:80px;">
    </a>

    <!-- Navbar text-->
    <span class="navbar-text" style="margin-left: 15rem; font-weight:bold">
      Fate will meet
    </span>
    <!-- Links -->
    <ul class="navbar-nav" style="margin-left: 15rem">
        <li class="nav-item">
            <a class="nav-link" href="..\index.html">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="..\views/tab3.html">
                独自徘徊
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="..\views/tab1.html">
                <strong >
                    一见倾心
                </strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="..\views/tab2.html">流连忘返</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link</a>
                <a class="dropdown-item" href="#">Link</a>
                <a class="dropdown-item" href="#">Link</a>
            </div>
        </li>
    </ul>
</nav>
<div style="position:absolute; left:50px; top:500px;border:#000 solid 1px;">
    <embed src="..\song/whatarewords.mp3" width=500 height=50 loop="true" autostart="true">
</div>
<!--border:#000 solid 1px;-->
<div style="position:absolute; left:50px; top:120px;">
    <marquee width="500" height="370" direction="up" behavior="slide" scrolldelay="2000">
        I will not repeat the mistakes I have made. <br/>

        I will not let myself Cause my heart so much misery. <br/>

        I ve learned the hard way. <br/>

        so never let it get that far. <br/>

        I never stray too far from the sidewalk. <br/>

        I am afraid. <br/>

        I lose my way ，And it s not too long before you point it out.<br/>

        I cannot cry.<br/>

        Because I know that's weakness in your eyes. <br/>

        I m forced to fake a smile, a laugh everyday of my life. <br/>

        My heart can't possibly break. <br/>

        When it wasn't even whole to start with. <br/>

    </marquee>
</div>

</body>
